.table {
    margin: 50px;
    max-height: 100;
    display: grid;
    border: 2px solid;
  }
  
  .row {
  display: table-row;
  }
  
  .cell {
    display: table-cell;
    border: 1px  #ccc;
  }
  
  .cell.alive {
    background-color: #000;
  }
  
  .cell.dead {
    background-color: #fff;
  }