.table {
    margin: 50px;
    width: 1850px;
    height: 839px;
    display: table;
  }
  
  .row {
  display: table-row;
  }
  
  .cell {
    display: table-cell;
    border: 1px  #ccc;
  }
  
  .cell.alive {
    background-color: #000;
  }
  
  .cell.dead {
    background-color: #fff;
  }