.tablePG {
  margin: 50px;
  max-height: 100;
  display: grid;
  border: 2px solid;
  }
  
  .rowPG {
  display: table-row;
  }
  
  .cellPG {
    display: table-cell;
    border: 1px solid #000;
  }
  
  .cellPG.alive {
    background-color: #575757;
  }
  
  .cellPG.dead {
    background-color: #fff;
  }