.tablePG {
    margin: 50px;
    width: 1850px;
    height: 939px;
    display: table;
  }
  
  .rowPG {
  display: table-row;
  }
  
  .cellPG {
    display: table-cell;
    border: 1px solid #000;
  }
  
  .cellPG.alive {
    background-color: #575757;
  }
  
  .cellPG.dead {
    background-color: #fff;
  }