.tableMenu {
    width: 100%;
    height: 100vh;
    display: table;
  }
  
  .rowMenu {
  display: table-row;
  }
  
  .cellMenu {
    display: table-cell;
    border: 1px  #ccc;
    width:50%
  }
  
  .cellMenu.right {
    background-color: #804444;
  }
  
  .cellMenu.left {
    background-color: #b8afaf;
  }